$background-color: #141414;

$primary-color: #FFF;
$inverse-color: #141414;
$accent-color: #CEFF00;

$block-bg-color: #202021;
$block-dark-color: #2A2A2C;
$secondary-opacity: .6;

$lighter-button: #353437;
$modal-color: #2A2A2A;

$border-color: #FFF;